$color_overlapper_1: #21D4FD;
$color_overlapper_2: #B721FF;

body {
	margin: 0;
	padding: 0;
	max-width: 100vw;
	min-height: 100vh;
	overflow: hidden;
}

.overlappr {
	background-color: $color_overlapper_1;
	background: linear-gradient(19deg, $color_overlapper_1 0%, $color_overlapper_2 100%);
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;

	&::before {
		content: "";
		width: 160vh;
		height: 160vh;
		background: rgba(33, 212, 253, 0.4);
		/* background: rgba(185, 33, 255,0.2); */
		display: block;
		position: absolute;
		border-radius: 100%;
		top: -70%;
		left: -18%;
		z-index: 2;
	}

	&::after {
		content: "";
		width: 160vh;
		height: 160vh;
		/* background: rgba(33, 212, 253, 0.2); */
		background: rgba(185, 33, 255,0.4);
		display: block;
		position: absolute;
		border-radius: 100%;
		bottom: -70%;
		right: -18%;
		z-index: 1;
	}
	
	main {
		z-index: 10;
		position: relative;
	}
}

main {
	height: 100vh;
	width: 90%;
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
}

.selectors {
	display: flex;
	gap: 15px;
	width: 100%;
	justify-content: center;
	margin-bottom: 20px;

	.x {
		display: flex;
		align-items: center;
	}
}

.select {
	padding: 5px;
	border: 3px solid #fff;
	border-radius: 7px;
	background: #00000055;
	position: relative;
	width: 100%;
	max-width: 300px;
	cursor: pointer;

	&:focus {
		.options {
			display: block;
		}
	}
}

.options {
	overflow: scroll;
	max-height: 150px;
	position: absolute;
	top: 100%;
	left: -3px;
	padding: 5px;
	border: 3px solid #fff;
	border-radius: 7px;
	background: #00000055;
	display: none;
	z-index: 20;
	width: calc(100% - 10px);
}

.option {
	padding: 5px 10px;
	cursor: pointer;

	&:hover {
		background: #000;
		border-radius: 4px;
	}
}

.new-playlist {
	text-align: center;
}