@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color-overlappr-1: #21D4FD;
$color-overlappr-2: #B721FF;

$color-overlappr-dim-1: rgba(33, 212, 253, 0.4);
$color-overlappr-dim-2: rgba(185, 33, 255,0.4);

@mixin gradient-outline( $color-1, $color-2 ) {
	background: linear-gradient( -45deg, $color-1, $color-2 );
	box-shadow: 0 2px 13px -5px #000000;
	z-index: 1;

	&::after {
		content: '';
		display: block;
		width: calc( 100% - 10px );
		height: calc( 100% - 10px );
		left: 50%;
		top: 50%;
		transform: translate( -50%, -50% );
		position: absolute;
		border-radius: 30px;
		background-color: #000000;
		z-index: -1;
		transition: .1s ease-in-out;
	}

	&:hover {
		&::after {
			width: 100%;
			height: 100%;
		}
	}
}

@mixin pill-like() {
	border: none;
	border-radius: 30px;
	padding: 10px 35px;
	position: relative;
	box-shadow: 0 2px 13px -5px #000000;
}

* {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}

body {
	margin: 0;
	padding: 0;
	max-width: 100vw;
	min-height: 100vh;
	overflow: hidden;
}

h1 {
	margin: 0 0 30px 0;
	font-size: 70px;
	font-weight: 900;
	letter-spacing: -1px;
}

main {
	height: 100vh;
	width: 90%;
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
}

.selectors {
	display: flex;
	gap: 15px;
	width: 100%;
	justify-content: center;
	margin-bottom: 10px;

	.x {
		display: flex;
		align-items: center;
	}
}

.select {
	@include pill-like();
	padding: 5px;
	background-color: #ffffff;
	color: #000000;
	width: 100%;
	max-width: 300px;
	cursor: pointer;

	img {
		border-radius: 100%;
	}

	&:focus {
		border-radius: 20px 20px 0 0;

		.options {
			display: block;
		}
	}
}

.select-inner {
	display: flex;
	align-items: center;
	height: 100%;
	gap: 10px;
	padding: 5px 10px;
	box-sizing: border-box;

	&.has-image {
		padding: 0px;
	}
}

.options {
	@include pill-like();
	box-shadow: 0 7px 13px -12px #000000;
	background-color: #ffffff;
	color: #000000;
	border-radius: 0 0 20px 20px;
	padding: 5px;
	overflow: scroll;
	max-height: 150px;
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	z-index: 20;
	width: calc(100% - 10px);
}

.option {
	padding: 5px 10px;
	cursor: pointer;

	&:last-child {
		border-radius: 0 0 15px 15px;
	}
}

.new-playlist {
	text-align: center;
}

button {
	@include pill-like();
	background-color: #000000;
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}

.go-button {
	margin-bottom: 15px;
}

.new-playlist {
	margin-top: 30px;

	a {
		color: #fff;
		text-decoration: none;
		font-weight: 900;
		border-bottom: 2px solid #ffffff;
		transition: .05s ease-in-out;

		&:hover {
			border-bottom: 5px solid #ffffff;
		}
	}
}